agere>=0.1.3,<1
ai-care>=0.1.3,<1
aiofiles>=23.1.0,<24
beautifulsoup4>=4.12.2,<5
blinker>=1.6.2,<2
chardet>=5.1.0,<6
geocoder>=1.38.1,<2
httpx>=0.24.1,<1
lxml>=4.9.3,<6
# open-interpreter==0.1.4
openai>=1.2.3,<2
playsound>=1.3.0,<2
Pygments>=2.15.1,<3
pyperclip>=1.8.2,<2
python-dotenv>=1.0.0,<2
PyYAML>=6.0.1,<7
qdrant-client>=1.4.0,<2
rich>=13.7.0,<14
semantic-kernel>=0.4.0.dev0,<1
textual>=0.37.1,<1
tiktoken>=0.4.0,<1
unstructured>=0.10.18,<1
